<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <!-- Default document -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
        <!-- Enable static content -->
        <directoryBrowse enabled="false" />
        
        <!-- HTTP Headers for security and iframe support -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
                <!-- Remove X-Frame-Options to allow iframe embedding -->
                <remove name="X-Frame-Options" />
            </customHeaders>
        </httpProtocol>
        
        <!-- Static content settings -->
        <staticContent>
            <remove fileExtension=".html" />
            <remove fileExtension=".css" />
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".html" mimeType="text/html; charset=utf-8" />
            <mimeMap fileExtension=".css" mimeType="text/css; charset=utf-8" />
            <mimeMap fileExtension=".js" mimeType="application/javascript; charset=utf-8" />
        </staticContent>
        
        <!-- Error pages -->
        <httpErrors errorMode="Detailed" existingResponse="Replace">
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="404" path="/index.html" responseMode="ExecuteURL" />
            <error statusCode="500" path="/index.html" responseMode="ExecuteURL" />
        </httpErrors>
        
        <!-- Security settings -->
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="52428800" />
            </requestFiltering>
        </security>
        
        <!-- Compression -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        
        <!-- IIS rewrite module for handling requests -->
        <rewrite>
            <rules>
                <rule name="Default to index.html" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>